/* styles/PurchaseAnimation.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Fica em cima de tudo */
  pointer-events: none; /* Não bloqueia cliques */
}

.animatedItem {
  width: 150px; /* Tamanho inicial da imagem */
  height: 150px;
  object-fit: contain;
  /* Aplica a animação que definimos abaixo */
  animation: zoomAndFade 3s ease-out forwards;
}

/* Define a animação */
@keyframes zoomAndFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4); /* A imagem cresce 4x */
    opacity: 0; /* A imagem some */
  }
}